/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #21d5d0;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --navbar-active-item-background: #f2f2f2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-navbar-background-color: #1f272b;
  --ifm-footer-background-color: #1f272b;
  --ifm-background-color: #14191c;
  --ifm-color-primary: #36d1ce;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-card-background-color: #1f272b;
  --prism-background-color: #1f272b;
  --ifm-dropdown-background-color: #1f272b;
  --navbar-active-item-background: #404a4f80;
}

.alert--success {
  --ifm-alert-background-color: rgb(61 221 218 / 18%);
  --ifm-alert-border-color: rgb(58 223 219);
}

.navbar__logo img {
  height: 160%;
  margin-top: -10px;
}

.navbar .navbar__link--active {
  background-color: var(--navbar-active-item-background);
  border-radius: 32px;
}
